.blog {
    h1,h2,h3,h4,h5,h6 {
        text-transform: capitalize;
    }
    small {
        font-style: italic;
    }
    blockquote {

        background-color: #e6edc98a;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding:5px 10px;

    }
}